<%- include('./partials/header') %>

<form action="/sign_in" method="POST" class="p-2 mx-3 my-4 border border-dark clearfix">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control mr-2" type="text" name="username" placeholder="e.g. Madam Welminster">
    </div>
    <button class="btn border border-dark bg-light float-right" type="submit">Sign in</button>
</form>

<%- include('./partials/footer') %>

